@charset "utf-8";
/* CSS Document
Creado por:
Eloy Chacón
INTERSOFT-latin, Todos los derechos reservados 2010 */
/* FORMATO DE TEXTOS */
li {
font-family:Verdana, Geneva, sans-serif;
font-size:80%;
color:black;
}
p {
font-size:90%;
font-family:Verdana, Geneva, sans-serif;
}
input {
color: #4D4D4D;
font-size: 90%;
font-family: verdana, helvetica, sans-serif;
}
td {
color: #4D4D4D;
font-size: 80%;
font-family: verdana, arial, helvetica, sans-serif;
}
/* CONFIGURACION GENERAL DE MODULOS */
#contenedor_menu_top {
width: 100%;
text-align:center;
height: 45px;
border-bottom:1px solid;
position: fixed;
background-image:url(../images/menu.gif);
}
#contenedor_menu_top #logo {
width: 205px;
height: 40px;
margin-left:200px;
float:left;
background-image:url(../images/colegionline_header.png);
}
#contenedor_central_modulo {
width: 900px;
height: auto;
margin-top:50px;
}
#contenedor_vacio {
width: 660px;
height: 10px;
margin-top:20px;
}
#notas {
color: #4D4D4D;
font-size: 60%;
font-family: verdana, arial, helvetica, sans-serif;
text-align:center;
}
#frame {
width:900px;
height:500px;
background-color:#FFF;
margin-left:0px;
border:1px solid;
}
/* MODULO DE ACCESO */
#div_acceso {
width: 600px;
height: 220px;
padding-top:20px;
}
.ima_usua {
background-image: url(../images/icons/user.png);
background-repeat: no-repeat;
width: 10px;
height: 10px;
}
/* MODULO DE ALUMNOS */
#contenedor_central_modulo #menu {
width: 99%;
height: 115px;
font-size: 11px;
font-family: verdana, arial, helvetica, sans-serif;
margin:auto;
margin-top:5px;
border:1px solid; -moz-border-radius:5px;
background-image:url(../images/colegionline.jpg);
}
#contenedor_central_modulo #contenido_alumno{
width: 660px;
height: auto;
font-size: 11px;
font-family: verdana, arial, helvetica, sans-serif;
margin-top:5px;
float:left;
text-align:center;
vertical-align:middle;
}
#contenedor_central_modulo #menu table td {
text-align:center;
vertical-align:top;
}
/* MODULO DE DOCENTES */
#contenedor_central_modulo #menu_docente {
width: 180px;
height: 460px;
font-size: 11px;
font-family: verdana, arial, helvetica, sans-serif;
margin-top:5px;
border:1px solid; -moz-border-radius:5px;
background-image:url("../images/cole/ima/fondo6.jpg");
float:left;
text-align:left;
vertical-align:middle;
}
#contenedor_central_modulo #contenido{
width: 470px;
height: 460px;
font-size: 11px;
font-family: verdana, arial, helvetica, sans-serif;
margin-top:5px;
margin-left:5px;
float:left;
text-align:center;
vertical-align:middle;
}
#contenedor_central_modulo #menu_docente table td {
}
/* MODULO ADMINISTRATIVO*/
#contenedor_central_modulo #contenido_administrativo{
width: 660px;
height: auto;
font-size: 11px;
font-family: verdana, arial, helvetica, sans-serif;
margin-top:5px;
float:left;
text-align:center;
vertical-align:middle;
}
#recuadro_cedula {
width: 40%;
height: 230px;
font-size: 14px;
font-family: verdana, arial, helvetica, sans-serif;
border:1px solid; -moz-border-radius:10px;
margin:auto;
margin-top:45px;
text-align:center;
background-color:#fffccc;
background-image:url("../images/png/HEINSNEXTGEN APPLICATIONS.png");
background-repeat: no-repeat;
background-position:right; 